* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat';
    font-size: 12px;
}

button:hover {
    cursor: pointer;
}


nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 25px;
}

.nav-b {
    display: none;
}

.section-1 {
    padding: 50px 25px;
    display: flex;
    position: relative;
    
   
} 




.launch {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;

    
}

.launch p {
    max-width: 300px;
}

.graphic-div {
    position: relative;
    width: 20%;
}


.graphic-div img {
    position: absolute;
    left: -50px;
    top: -50px;
    height: 250px;
}

h1 {
    font-size: 35px;

}

.h1-container{
    z-index: 1;
}

.pink { 
    color: rgb(239, 94, 142);
    font-weight: bold;
}

.button-sign {
    padding: 10px 20px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #c924c4, orange, #95ed55) border-box;
border-radius: 50px;
border: 2px solid transparent;
}

.section-2 {
    padding: 50px 25px 25px 25px;
display: flex;
flex-direction: column;
gap: 10px;
background-image: url("assets/background.svg");
background-position: center;
background-size: cover;
} 

.section-3 {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: space-between;
padding: 25px 25px;
gap: 10px;
}

.brand:nth-child(4){
    display: none;
}

.brand img{
    height: 20px;
}

.section-4 {
    padding: 0 25px 25px 25px;
} 

.section-4 h2{
    padding: 10px 0;
    font-weight: 500;
} 

.nft-container {
    padding-top: 15px;
    display: flex;
    gap: 10px;
}

.nft img {
    height: 150px;
}

.nft {
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.nft-info {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: rgb(234, 233, 233);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bid, .price, .remaining {
justify-self: end;
}

.series {
    color: rgb(187, 106, 26);
}

.nft-name, .price {
    font-weight: bold;
    height: 20px;
}

.price {
display: flex;
position: relative;
}

.eth img {
    position: absolute;
    height: max-content;
    left: -15px;
    top: -2px;


}
   
 



.section-5 {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
   
}

.section-5-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    gap: 25px;
}

.info-flex1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.info-flex2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-5-pic {
    position: relative;
    width: 30%;
}

.section-5-pic img {
    position: absolute;
    bottom: 0;
    height: 250px;
}

footer {
    padding: 25px;

} 

.ft-flex-1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.ft-flex-2 {
    display: flex;
    justify-content: space-between;
}

.ft-flex-2 div:nth-child(2){
    display: none;
}

.contact-links-container {
    display: flex;
    gap: 10px;
}

.contact-link img {
    
    height: 15px;
}

.ft-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.ft-grid-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ft-grid-section a {
    text-decoration: none;
    color: grey;
}

.ft-flex-1-first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Desktop */

@media ( min-width: 440px){
    .nav-b {
        display: flex;
        gap: 10px;
    }

    .nav-b a{
        text-decoration: none;
        color: gray;
        font-size: 12px;
    }

    .nav-b a:last-child{
        text-decoration: none;
       color: rgb(239, 94, 142);;
    }

    .nav-a {
        display: none;
    }

    .section-2 {
        padding: 50px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    margin: 0 20px;
    } 

    .section-3 {
        color: grey;
    display: flex;
    justify-content: space-between;
    
    }

    .brand:nth-child(4){
        display: block;
    }

    .ft-flex-1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: flex-start;
        justify-content: space-between;
    }

    .ft-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
    }

    .ft-flex-2 div:nth-child(2){
        display: block;
    }

    .launch {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 60%;
    
        
    }
    
    .graphic-div {
        position: relative;
        width: 40%;
    }
    
    
    .graphic-div img {
        position: absolute;
    left: -100px;
        height: 400px;
    }

   .h1-container h1 {
        font-size: 45px;
    
    }

    .section-5-pic img {
        position: absolute;
        bottom: 0;
        left: 100px;
        height: 250px;
    }

    .section-5 {
        padding-top: 25px;
    }
}