* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 25px;
}

.nav-b {
    display: none;
}

.section-1 {
    padding: 50px 25px;
    display: flex;
} 

#graphic {
    height: 200px;
}


.launch {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    font-size: 35px;

}

.pink { 
    color: rgb(239, 94, 142);
}

.button-sign {
    padding: 10px 20px;
    border-radius: 20px;
}

/* Desktop */

@media ( min-width: 370px){
    .nav-b {
        display: flex;
        gap: 10px;
    }

    .nav-b a{
        text-decoration: none;
        color: gray;
        font-size: 12px;
    }

    .nav-b a:last-child{
        text-decoration: none;
       color: rgb(239, 94, 142);;
    }

    .nav-a {
        display: none;
    }
}